<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>nova-light</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <!--
    <servlet>
    
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>restfull.servlet.map</param-value> 
    </init-param>
    <load-on-startup>1</load-on-startup>
    
    </servlet>
  
    <servlet-mapping>
      <servlet-name>Jersey Web Application</servlet-name>
      <url-pattern>/webapi/*</url-pattern>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>
 
    -->
    
    <servlet>
        <servlet-name>faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <!--
    <servlet>
        <servlet-name>faces-servlet-name</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>faces-servlet-name</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping> 
    -->
    
    <servlet>
        <servlet-name>Billsredirect</servlet-name>
        <servlet-class>sevlets.redirect.Billsredirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resturedirect</servlet-name>
        <servlet-class>sevlets.redirect.Resturedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Billsredirect</servlet-name>
        <url-pattern>/Billsredirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resturedirect</servlet-name>
        <url-pattern>/Resturedirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
